<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
        <div class="sidebar-brand-text mx-3"><span>Football</span></div>
    </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/player}" onclick="window.location.href = '/player'"><i class="fas fa-cogs"></i><span>Profile</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-table"></i><span>Table</span></a></li>
            <li class="nav-item"><a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="nav-link" href="/addstadium"><i class="fas fa-table"></i><span>Add Stadium</span></a></li>
            <li class="nav-item"><a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="nav-link" href="/addjucator"><i class="fas fa-table"></i><span>Add Jucator</span></a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i><span>LogOut</span></a></li>
            <li class="nav-item"></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>