<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Profile - Football</title>
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" th:href="@{/assets/css/icon-star-full.css}">
</head>

<body id="page-top">
<div id="wrapper">
  <nav th:replace="fragments/sidebar :: nav"></nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <nav th:replace="fragments/nav :: nav"></nav>
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Team Details</h3>
        <div class="row mb-3">
          <div class="col-lg-8" style="width: 100%;">
            <div class="row">
              <div class="col">
                <div class="card shadow mb-3">
                  <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Team Information</p>
                  </div>
                  <div class="card-body">
                    <p><strong>Team Name:</strong> <span th:text="${team.name}"></span></p>
                    <p><strong>League:</strong> <span th:text="${team.league}"></span></p>
                    <p><strong>Stadium:</strong> <span th:text="${team.stadium}"></span></p>
                    <p><strong>Details:</strong> <span th:text="${team.details}"></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
  </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/js/theme.js}"></script>
</body>

</html>